@model WebApplication5MVCdemo.CommanClasses.SellNotesAllDropdownList



@{
    ViewBag.Title = "AddNotes";
    Layout = "~/Views/Shared/_LayoutWhiteNav.cshtml";
    ViewBag.confirmationBox = "Publishing this note will send note to administrator for review, once administrator review and approve then this note will be published to portal.Press ok to continue.";
}

<section class="user-profile-image">
    <img class="img-fluid" src="@Url.Content("~/images/User-Profile/banner-with-overlay.jpg")" alt="User Profile banner">
    <div class="text-on-image-user-profile">
        <h3>Add Notes</h3>
    </div>
</section>

@using (Html.BeginForm("AddNotes", "Dashboard", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
{

    <!-- Basic Profile Details -->
    <section id="basic-note-details">
        <div class="container">
            <h3>Basic Note Details</h3>
            <div class="row">
                @Html.HiddenFor(x => x.SellNote.ID)
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    @Html.LabelFor(m => m.SellNote.Title)
                    @Html.TextBoxFor(m => m.SellNote.Title, new { placeholder = "Enter your Notes Title", @class = "form-control", required = "required" })
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    @Html.LabelFor(m => m.SellNote.Category)
                    @Html.DropDownListFor(m => m.SellNote.Category, new SelectList(Model.NoteCategories, "ID", "Name"), "Select Category", new { @class = "form-control", required = "required" })
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    @Html.LabelFor(m => m.SellNote.DisplayPicture)
                    <input type="file" class="upload form-control" name="DisplayPictureFile" accept = "application/pdf" id="SellNote_DisplayPicture">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <label for="inputAdNoteUploadNotes">Upload Notes *</label>
                    <input type="file" class="upload upload-note form-control" id="inputAdNoteUploadNotes" name="UploadedPdfFile" multiple required>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    @Html.LabelFor(m => m.SellNote.NoteType)
                    @Html.DropDownListFor(m => m.SellNote.NoteType, new SelectList(Model.NoteTypes, "ID", "Name"), "Select Category", new { @class = "form-control", required = "required" })
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    @Html.LabelFor(m => m.SellNote.NumberOfPages)
                    @Html.TextBoxFor(m => m.SellNote.NumberOfPages, new { placeholder = "Enter Number of Notes Pages", @class = "form-control" })
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    @Html.LabelFor(m => m.SellNote.Discription)
                    @Html.TextAreaFor(m => m.SellNote.Discription, new { placeholder = "Enter your Discription", @class = "form-control", required = "required" })
                </div>
            </div>
        </div>
    </section>

    <section id="institution-information">
        <div class="container">
            <h3>Institution Information</h3>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    @Html.LabelFor(m => m.SellNote.Country)
                    @Html.DropDownListFor(m => m.SellNote.Country, new SelectList(Model.Countries, "ID", "Name"), "Select Category", new { @class = "form-control", required = "required" })
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    @Html.LabelFor(m => m.SellNote.UniversityName)
                    @Html.TextBoxFor(m => m.SellNote.UniversityName, new { placeholder = "Enter your Institution Name", @class = "form-control" })
                </div>
            </div>
        </div>
    </section>

    <section id="institution-information">
        <div class="container">
            <h3>Course Details</h3>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    @Html.LabelFor(m => m.SellNote.Course)
                    @Html.TextBoxFor(m => m.SellNote.Course, new { placeholder = "Enter your Course Name", @class = "form-control" })
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    @Html.LabelFor(m => m.SellNote.CourseCode)
                    @Html.TextBoxFor(m => m.SellNote.CourseCode, new { placeholder = "Enter your Course Code", @class = "form-control" })
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    @Html.LabelFor(m => m.SellNote.Professor)
                    @Html.TextBoxFor(m => m.SellNote.Professor, new { placeholder = "Enter your Professor Name", @class = "form-control" })
                </div>
            </div>
        </div>
    </section>

    <section id="selling-information">
        <div class="container">
            <h3>Selling Information</h3>
            <div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <label for="inlineRadioOptionSellFor">Sell For *</label>

                        <div class="row">


                            <div class="col-md-4 col-5 custom-control custom-radio custom-control-inline">
                                @Html.RadioButton("IsPaidOrNot", "false", false, new { @class = "custom-control-input", @id = "free" , onchange="radioValue(this)", required = "required" })
                                <label style="margin-left: 50px" class="custom-control-label" for="free">Free</label>
                            </div>
                            <div class="col-md-4 col-5 custom-control custom-radio custom-control-inline">
                                @Html.RadioButton("IsPaidOrNot", "true", false, new { @class = "custom-control-input", @id = "paid", onchange = "radioValue(this)" })
                                <label class="custom-control-label" for="paid">Paid</label>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                @Html.LabelFor(m => m.SellNote.SellingPrice)
                                @Html.TextBoxFor(m => m.SellNote.SellingPrice, new { placeholder = "Enter your Price", @class = "form-control", required = "required" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <label for="inputAddNotePreview">Note Preview</label>
                        <div class="note-preview">
                            <input type="file" id="inputAddNotePreview" name="PreviewFile" accept = "application/pdf" class="upload note-preview-input form-control">
                        </div>
                    </div>
                    <button type="submit" name="SavePublish" value="save" class="btn btn-addnote-save">SAVE</button>
                    <button type="submit" name="SavePublish" onclick="return confirm('@ViewBag.confirmationBox')" value="publish" class="btn btn-addnote-publish">PUBLISH</button>

                </div>
            </div>
        </div>
    </section>

}


@section scripts{
    <script>

        function radioValue(radio) {
            if (radio.value == "false") {
                $('#inputAddNotePreview').prop('required', false);
            }
            else {
                $('#inputAddNotePreview').prop('required', true);
            }
        }
        
    </script>    
}