@model WebApplication5MVCdemo.CommanClasses.ManageCategoryViewModel


@{
    ViewBag.Title = "ManageCategory";
    ViewBag.DeleteCategory = "Are you sure you want to make this category inactive?";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container manage-admin">
    <div class="row">
        <div class="col-12">
            <h3>Manage Category</h3>
        </div>
        <div class="padding-top-hide col-xl-5 col-lg-4 col-md-3 col-sm-3 col-12 text-left category">
            <a href="@Url.Action("AddCategory","Category")" role="button" class="btn">ADD CATEGORY</a>
        </div>
        <div class="padding-top-hide pl-0 m-left-auto col-xl-7 col-lg-8 col-md-9 col-sm-9 col-12 row search-side">
            <span class="NURandManageAdminSpan"><img src="~/Admin-Images/images/search-icon.png" alt=""></span>
            <input class="col-sm-7 col-7 m-left-auto" type="text" id="inputSearch" placeholder="Search">
            <button type="submit" class="col-sm-3 col-3 btn btn-search">
                SEARCH
            </button>
        </div>

        <div class="col-12 table-scroll">
            <table class="table" id="CategoryDataTable">
                <thead>
                    <tr>
                        <th class="srno">SR NO.</th>
                        <th>CATEGORY</th>
                        <th>DESCRIPTION</th>
                        <th>DATE ADDED</th>
                        <th>ADDED BY</th>
                        <th>ACTIVE</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model.getCategoryData_Results)
                    {
                        <tr>
                            <td class="srno">@data.ID</td>
                            <td>@data.Category</td>
                            <td class="cc">@data.Description</td>
                            <td>@data.DateAdded</td>
                            <td>@data.AddedBy</td>
                            @if (data.Active == true)
                            {
                                <td>yes</td>
                            }
                            else
                            {
                                <td>no</td>
                            }
                            <td>
                                <a href="@Url.Action("AddCategory","Category",new { ID = data.ID})">
                                    <img src="~/Admin-Images/images/edit.png" alt="">
                                </a>
                                <a href="@Url.Action("DeleteCategory","Category",new { ID = data.ID})" onclick="return confirm('@ViewBag.DeleteCategory')">
                                    <img src="~/Admin-Images/images/delete.png" alt="">
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script>

        $("#CategoryDataTable").DataTable();
        oTable = $('#CategoryDataTable').DataTable();
        $('#inputSearch').keyup(function () {
            oTable.search($(this).val()).draw();
        });
        $('#CategoryDataTable').DataTable().page.len(10).draw();
    </script>

}
