@model WebApplication5MVCdemo.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<section id="login-page">
    <div class="bg">
        <div class="row justify-content-center">
            <div class="page-at-center col-6 ml-auto mr-auto">
                <div class="center-logo">
                    <img class="logo-img" src="@Url.Content("~/images/pre-login/top-logo.png")" alt="logo">
                </div>
                <div class="form-container">
                    <h3 class="text-center">Login</h3>
                    <p class="text-center top">Enter your email address and password to login</p>

                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { role = "form" }))
                    {

                        <div class="form-group email">
                            @Html.LabelFor(m => m.EmailID)
                            @Html.TextBoxFor(m => m.EmailID, new { placeholder = "Enter your Email", @class = "form-control form-control-login", required = "required" })
                            @Html.ValidationMessageFor(m => m.EmailID, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group password">
                            @Html.LabelFor(m => m.Password)
                            <label class="float-right"><a href="@Url.Action("ForgotPassword","Account")">Forgot Password?</a></label>
                            @Html.PasswordFor(m => m.Password, new { placeholder = "Enter your Password", @class = "form-control form-control-login", required = "required" })
                            <span toggle="#Password" class="field-icon toggle-password"><img src="~/images/pre-login/eye.png" alt="eye"></span>

                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group form-check">
                            @Html.CheckBox("name", new { @class = "form-check-label" }) Remember Me
                        </div>
                        <button type="Submit" class="btn btn-login btn-block">LOGIN</button>
                    }
                    <p class="text-center bottom">Don't have an account? <a href="@Url.Action("Signup","Account")">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>
</section>


