@model WebApplication5MVCdemo.CommanClasses.PublishedNotesViewModel


<div class="col-12 table-scroll" id="PublishedNotesPartialView">
    <table class="table" id="PublishedNotesDataTable">
        <thead>
            <tr>
                <th class="srno">SR NO.</th>
                <th>NOTE TITLE</th>
                <th>CATEGORY</th>
                <th>SELL TYPE</th>
                <th>PRICE</th>
                <th>SELLER</th>
                <th>PUBLISHED DATE</th>
                <th>APPROVED BY</th>
                <th class="no">NUMBER OF DOWNLOADS</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model.getPublishedNotesData_Results)
            {
                <tr>
                    <td class="srno">@data.ID</td>
                    <td class="note-title">
                        <a href="@Url.Action("NoteDetail","NoteDetail",new { NoteID = data.ID})" class="links">
                            @data.Title
                        </a>
                    </td>
                    <td>@data.Category</td>
                    @if (data.IsPaid == true)
                    {
                        <td>Paid</td>
                    }
                    else
                    {
                        <td>Free</td>
                    }
                    <td>$@data.SellingPrice</td>
                    <td>
                        @data.Seller
                        <a href="@Url.Action("MemberDetails","AdminMembers",new { SellerID = data.SellerID})">
                            <img src="~/Admin-Images/images/eye.png" alt="">
                        </a>
                    </td>
                    <td>@data.PublishedDate</td>
                    <td>@data.ApprovedBy</td>

                    @if (data.numberOfDownload != null)
                    {
                        <td class="no">
                            <a href="@Url.Action("DownloadedNotes","Admin",new { sellerid = data.SellerID})" class="links">
                                @data.numberOfDownload
                            </a>
                        </td>
                    }
                    else
                    {
                        <td class="no">0</td>
                    }

                    <td>
                        <div class="dropdown">
                            <button type="button" id="dropdownMenu3dot" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="~/Admin-Images/images/dots.png" alt="">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu3dot">
                                <a class="dropdown-item" role="button" href="@Url.Action("DownloadNote","NoteDetail",new { noteId = data.ID})">Download Notes</a>
                                <a class="dropdown-item" role="button" href="@Url.Action("NoteDetail","NoteDetail",new { NoteID = data.ID})">View More Details</a>
                                @*<button type="submit" data-id="@data.ID" data-title="@data.Title" data-toggle="modal" data-target="#rejectPopupModal" class="btn btn-reject modalLink">Reject</button>*@
                                <a class="dropdown-item modalLink" data-id="@data.ID" data-title="@data.Title" data-toggle="modal" data-target="#rejectPopupModal" role="button" href="">Unpublish</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
