@using WebApplication5MVCdemo.CommanClasses
@using WebApplication5MVCdemo.Models

@model WebApplication5MVCdemo.CommanClasses.AdminDashboardViewModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="container" id="dashboard-top">
    <div class="row">
        <div class="col-12 pb-0">
            <h3>Dashboard</h3>
        </div>
        <div class="col-12">
            <div class="row text-center">
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="block">
                        <a href="@Url.Action("NotesUnderReview","NotesUnderReview")" class="links">
                            <h5>@Model.NotesUnderReviewCount</h5>
                        </a>
                        <p>Numbers of Notes in Review for Publish</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="block">
                        <a href="@Url.Action("DownloadedNotes","Admin")" class="links">
                            <h5>@Model.NewDownloadCount</h5>
                        </a>
                        <p>Number of New Notes Downloaded (Last 7 days)</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="block">
                        <a href="@Url.Action("Members","AdminMembers")" class="links">
                            <h5>@Model.NewRegistrationCount</h5>
                        </a>
                        <p>Numbers Of New Registrations (Last 7 days)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" id="dashboard-middle">
    <div class="row">
        <div class="col-md-3 col-12 left">
            <h6>Published Notes</h6>
        </div>

        <div class="row pl-0 col-md-9 m-left-auto m-left-auto-sm col-12 right">

            <span class="magnifier"><img src="~/Admin-Images/images/search-icon.png" alt=""></span>
            <input class="col-md-5 col-sm-5 col-7 m-left-auto m-left-auto-sm" type="text" placeholder="Search" id="inputMyDownloadSearch">
            <button type="submit" class="col-md-2 col-sm-2 col-3 btn btn-search">SEARCH</button>
            <select class="col-md-3 col-sm-3 col-4" id="monthList">
                <option value="0">Select month</option>
                <option value="1">Last month</option>
                <option value="2">Last 2 month</option>
                <option value="3">Last 3 month</option>
                <option value="4">Last 4 month</option>
                <option value="5">Last 5 month</option>
                <option value="6">Last 6 month</option>
            </select>


        </div>
        <div id="DashboardPartial"></div>

    </div>
</div>



<div class="modal fade" id="rejectPopupModal" tabindex="-1" role="dialog" aria-labelledby="rejectPopupModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container reject-popup">
                    @using (Html.BeginForm("Unpublish", "Admin", FormMethod.Post, new { role = "form" }))
                    {
                        <div class="row">
                            <div class="col-md-12 remove-height">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            @Html.Hidden("hiddenId")
                            <div class="col-md-12 col-12">
                                <h5 id="Note-title"></h5>
                            </div>
                            <div class="col-md-12 col-12">
                                <label for="inputRejectPopupComment">Remarks *</label>
                                <textarea rows="6" type="text" class="form-control" name="remarks" placeholder="Write remarks" id="inputRejectPopupComment" required></textarea>
                            </div>
                            <div class="col-12 d-flex justify-content-end">
                                <button type="submit" class="btn btn-reject" onclick="return confirm('@ViewBag.Rejectconfirmationbox')">Unpublish</button>
                                <button type="button" class="close btn btn-inreview" data-dismiss="modal" aria-label="Close">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    }



                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $("#datatableDashboardAdmin").DataTable();
        $("#monthList").on("change", function () {
            BindSellNotesDetail()
        });
        $(document).ready(function () {
            BindSellNotesDetail()
        });
        function BindSellNotesDetail() {

            debugger
            var month = $("#monthList").val();
            $.ajax({
                type: 'GET',
                url: "@Url.Action("GetFilterDashboard", "Admin")",
                data: {
                    Month: month
                },
                success: function (Result) {
                    debugger
                    $("#DashboardPartial").replaceWith(Result);
                    $("#datatableDashboardAdmin").DataTable();
                    oTable = $('#datatableDashboardAdmin').DataTable();
                    $('#inputMyDownloadSearch').keyup(function () {
                        oTable.search($(this).val()).draw();
                    });
                    $(".modalLink").on("click", function () {

                        var ID = $(this).data('id');
                        $(".modal-body #hiddenId").val(ID);
                        var Title = $(this).data('title');
                        $(".modal-body #Note-title").html(Title);
                    });
                    $('#datatableDashboardAdmin').DataTable().page.len(1).draw();
                    

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    debugger
                    alert("sorry");
                }
            });
        }

    </script>

}