@using WebApplication5MVCdemo.CommanClasses
@using WebApplication5MVCdemo.Models

@model WebApplication5MVCdemo.CommanClasses.AdminDashboardViewModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script>
    function formatFileSize(bytes, decimalPoint) {
        if (bytes == 0) return '0 Bytes';
        var k = 1024,
            dm = decimalPoint || 2,
            sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
            i = Math.floor(Math.log(bytes) / Math.log(k));
        return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
    }
</script>

<div class="container" id="dashboard-top">
    <div class="row">
        <div class="col-12 pb-0">
            <h3>Dashboard</h3>
        </div>
        <div class="col-12">
            <div class="row text-center">
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="block">
                        <a href="notes-under-review.html" class="links">
                            <h5>20</h5>
                        </a>
                        <p>Numbers of Notes in Review for Publish</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="block">
                        <a href="download-notes.html" class="links">
                            <h5>103</h5>
                        </a>
                        <p>Number of New Notes Downloaded (Last 7 days)</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="block">
                        <a href="members.html" class="links">
                            <h5>223</h5>
                        </a>
                        <p>Numbers Of New Registrations (Last 7 days)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" id="dashboard-middle">
    <div class="row">
        <div class="col-md-3 col-12 left">
            <h6>Published Notes</h6>
        </div>

        <div class="row pl-0 col-md-9 m-left-auto m-left-auto-sm col-12 right">

            <span class="magnifier"><img src="~/Admin-Images/images/search-icon.png" alt=""></span>
            <input class="col-md-5 col-sm-5 col-7 m-left-auto m-left-auto-sm" type="text" placeholder="Search" id="inputMyDownloadSearch">
            <button type="submit" class="col-md-2 col-sm-2 col-3 btn btn-search">SEARCH</button>
            <select class="col-md-3 col-sm-3 col-4">
                <option selected value="">Select month</option>
                <option>...</option>
            </select>


        </div>

        <div class="col-12 table-scroll">
            <table class="table" id="datatableDashboardAdmin">
                <thead>
                    <tr>
                        <th class="srno">SR NO.</th>
                        <th>TITLE</th>
                        <th>CATEGORY</th>
                        <th>ATTACHMENT SIZE</th>
                        <th>SELL TYPE</th>
                        <th>PRICE</th>
                        <th>PUBLISHER</th>
                        <th>PUBLISHED DATE</th>
                        <th>NUMBER OF DOWNLOADS</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{ NoteMarketPlaceEntities db = new NoteMarketPlaceEntities(); }
                    @foreach (getDahboardData_Result data in Model.getDahboardData_Results)
                    {

                        SellNoteAttachment noteAttached = db.SellNoteAttachments.Where(x => x.NoteID == data.ID).FirstOrDefault();
                        SellNote note = db.SellNotes.Where(x => x.ID == data.ID).FirstOrDefault();

                        string path = noteAttached.FilePath + noteAttached.FileName;
                        long length = new System.IO.FileInfo(path).Length;

                        

                        
                    <tr>
                        <td class="srno">@data.ID</td>
                        <td class="note-title">
                            <a href="note-detail.html" class="links">
                                @data.Title
                            </a>
                        </td>
                        <td>@data.Category</td>
                        <td class="size" >10 kb</td>
                        @if (data.IsPaid == true)
                        {
                            <td>PAID</td>
                        }
                        else
                        {
                            <td>FREE</td>
                        }

                        <td>$@data.SellingPrice</td>
                        <td>@data.Publisher</td>
                        <td>@data.PublishedDate</td>
                        @if (data.NumberOfDownload != null)
                        {
                            <td class="download-no">@data.NumberOfDownload</td>
                        }
                        else
                        {
                            <td class="download-no">0</td>
                        }

                        <td>
                            <div class="dropdown">
                                <button type="button" id="dropdownMenu3dot" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="~/Admin-Images/images/dots.png" alt="">
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu3dot">
                                    <a class="dropdown-item" role="button" href="#">Download Notes</a>
                                    <a class="dropdown-item" role="button" href="note-detail.html">View More Details</a>
                                    <a class="dropdown-item" role="button" href="#">Unpublish</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $("#datatableDashboardAdmin").DataTable();

        
    </script>
    
}