@model WebApplication5MVCdemo.CommanClasses.PublishedNotesViewModel


@{
    ViewBag.Title = "PublishedNotes";
    ViewBag.Rejectconfirmationbox = "Are you sure you want to Unpublish this note?";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container manage-admin note-U-R">
    <div class="row">
        <div class="col-12">
            <h3>Published Notes</h3>
        </div>
        <div class="col-xl-5 col-lg-4 col-md-3 col-sm-3 col-12 NUR">
            @Html.LabelFor(x => x.Seller)
            @Html.DropDownListFor(x => x.Seller, Model.SellerName, "Select Seller", new { @class = "form-control" })
        </div>
        <div class="pl-0 m-left-auto align-items-end col-xl-7 col-lg-8 col-md-9 col-sm-9 col-12 row search-side search-side-NUR">
            <span><img src="images/search-icon.png" alt=""></span>
            <input class="col-sm-7 col-7 m-left-auto" type="text" id="inputSearch" placeholder="Search">
            <button type="submit" class="col-sm-3 col-3 btn btn-search">
                SEARCH
            </button>
        </div>
        <div id="PublishedNotesPartialView"></div>

    </div>
</div>

<div class="modal fade" id="rejectPopupModal" tabindex="-1" role="dialog" aria-labelledby="rejectPopupModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container reject-popup">
                    @using (Html.BeginForm("Unpublish", "Admin", FormMethod.Post, new { role = "form" }))
                    {
                        <div class="row">
                            <div class="col-md-12 remove-height">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            @Html.Hidden("hiddenId")
                            <div class="col-md-12 col-12">
                                <h5 id="Note-title"></h5>
                            </div>
                            <div class="col-md-12 col-12">
                                <label for="inputRejectPopupComment">Remarks *</label>
                                <textarea rows="6" type="text" class="form-control" name="remarks" placeholder="Write remarks" id="inputRejectPopupComment" required></textarea>
                            </div>
                            <div class="col-12 d-flex justify-content-end">
                                <button type="submit" class="btn btn-reject" onclick="return confirm('@ViewBag.Rejectconfirmationbox')">Unpublish</button>
                                <button type="button" class="close btn btn-inreview" data-dismiss="modal" aria-label="Close">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    }



                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        debugger
        $("#PublishedNotesDataTable").DataTable();
        $("#Seller").on("change", function () {
            BindSellNotesDetail()
        });
        $(document).ready(function () {
            BindSellNotesDetail()
        });
        function BindSellNotesDetail() {

            debugger
            var sellerID = $("#Seller").val();
            $.ajax({
                type: 'GET',
                url: "@Url.Action("GetFilterSellerPublishedNotes", "Admin")",
                data: {
                    SellerId: sellerID
                },
                success: function (Result) {
                    debugger
                    $("#PublishedNotesPartialView").replaceWith(Result);
                    $("#PublishedNotesDataTable").DataTable();
                    oTable = $('#PublishedNotesDataTable').DataTable();
                    $('#inputSearch').keyup(function () {
                        oTable.search($(this).val()).draw();
                    });
                    $(".modalLink").on("click", function () {

                        var ID = $(this).data('id');
                        $(".modal-body #hiddenId").val(ID);
                        var Title = $(this).data('title');
                        $(".modal-body #Note-title").html(Title);
                    });
                    $('#PublishedNotesDataTable').DataTable().page.len(1).draw();

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    debugger
                    alert("sorry");
                }
            });
        }
    </script>
}

