@using WebApplication5MVCdemo.Models
@model IEnumerable<Download>

@{
    ViewBag.Title = "MySoldNotes";
    Layout = "~/Views/Shared/_LayoutWhiteNav.cshtml";
}

<section class="buyer-request">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-4 col-md-4 col-sm-4 col-12 left">
                <h3>My Sold Notes</h3>
            </div>
            <div class="pl-0 m-left-auto col-xl-7 col-lg-8 col-md-8 col-sm-8 col-12 row search-side align-items-end right">
                <span class="magnifier"><img src="~/images/Dashboard/search.jpg" alt=""></span>
                <input class="col-sm-7 col-7 m-left-auto" type="text" placeholder="Search" id="inputMySoldNoteSearch">
                <button type="submit" class="col-sm-3 col-3 btn btn-mydownload-search">SEARCH</button>
            </div>
            <div class="col-12 table-scroll">
                <table id="MySoldNote-table" class="table table-border">
                    <thead>
                        <tr>
                            <th>SR NO.</th>
                            <th>NOTE TITLE</th>
                            <th>CATEGORY</th>
                            <th>BUYER</th>
                            <th>SELL TYPE</th>
                            <th>PRICE</th>
                            <th>DOWNLOAD DATE/TIME</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Download data in Model)
                        {
                            <tr>
                                <td>@data.ID</td>
                                <td class="note-title">
                                    <a href="@Url.Action("NoteDetail","Dashboard",new { noteId = data.NoteID},null)" class="links">
                                        @data.NoteTitle
                                    </a>
                                </td>
                                <td>@data.NoteCategory</td>
                                <td>@data.User1.EmailID</td>
                                @if (data.IsPaid == true)
                                {
                                    <td>Paid</td>
                                }
                                else
                                {
                                    <td>Free</td>
                                }
                                <td>$@data.PurchasedPrice</td>
                                <td>@data.CreatedDate</td>
                                <td>
                                    <div class="dropdown">
                                        <a href="@Url.Action("NoteDetail","Dashboard",new { noteId = data.NoteID},null)" class="links">
                                            <img src="~/images/Dashboard/eye.png" alt="">
                                        </a>

                                        <button type="button" id="dropdownMenu3dot" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img src="~/Front_images/images/dots.png" alt="">
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenu3dot">
                                            <a class="dropdown-item" role="button" href="@Url.Action("DownloadNote","Dashboard", new { noteId = data.NoteID},null)">Download Note</a>
                                        </div>
                                    </div>


                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</section>



@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {

            oTable = $('#MySoldNote-table').DataTable();
            $('#inputMySoldNoteSearch').keyup(function () {
                oTable.search($(this).val()).draw();
            });

            $('#MySoldNote-table').DataTable().page.len(10).draw();

        });
    </script>

}