@using NoteMarketPlace.Models
@model IEnumerable<Download>
@{
    ViewBag.Title = "BuyerRequest";
    Layout = "~/Views/Shared/_LayoutSignedup.cshtml";
}

<section class="buyer-request">
    <div class="container">

        @using (Html.BeginForm("BuyerRequest", "Home", FormMethod.Get))
        {
            <div class="row">
                <div class="col-xl-5 col-lg-4 col-md-4 col-sm-4 col-12 left">
                    <h3>Buyer Requests</h3>
                </div>


                <div class="pl-0 m-left-auto col-xl-7 col-lg-8 col-md-8 col-sm-8 col-12 row search-side align-items-end right">
                    <span class="magnifier"><img src="~/images/Dashboard/search.jpg" alt=""></span>
                    <input class="col-sm-7 col-7 m-left-auto" type="text" name="search" placeholder="Search" id="inputMyDownloadSearch">

                    <button type="submit" class="col-sm-3 col-3 btn btn-mydownload-search">SEARCH</button>
                </div>


                <div class="col-md-12 table-scroll">
                    <table id="Plugin-table" class="table table-border">
                        <thead>
                            <tr>
                                <th>SR NO.</th>
                                <th>NOTE TITLE</th>
                                <th>CATEGORY</th>
                                <th>BUYER</th>
                                <th>SELL TYPE</th>
                                <th>PRICE</th>
                                <th>DOWNLOAD DATE/TIME</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() == 0)
                            {
                                <tr>
                                    <td colspan="8" class="text-center">No Records Found</td>
                                </tr>
                            }
                            else
                            {
                                foreach (Download data in Model)
                                {

                                    <tr>
                                        <td>@data.ID</td>
                                        <td>@data.NoteTitle</td>
                                        <td>@data.NoteCategory</td>
                                        <td>@data.Downloader</td>
                                        <td>@data.IsPaid</td>
                                        <td>@data.PurchasedPrice</td>
                                        <td>@data.CreatedDate</td>
                                        <td>
                                            <div class="dropdown">
                                                <img src="~/images/Dashboard/eye.png" alt="">

                                                <button type="button" id="dropdownMenu3dot" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <img src="~/Front_images/images/dots.png" alt="">
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenu3dot">
                                                    <a class="dropdown-item" role="button" href="#">Yes, I Recieved</a>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                }

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }

    </div>
</section>


@*@section scripts{

        <script>
            $(document).ready(function () {
                alert("hi")
                $("#Plugin-table").DataTable();
            });
        </script>

    }*@