
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_LayoutWhiteNav.cshtml";
}

<section class="user-profile-image">
    <img class="img-fluid" src="@Url.Content("~/images/User-Profile/banner-with-overlay.jpg")" alt="User Profile banner">
    <div class="text-on-image-user-profile faq">
        <h3>Frequently Asked Question</h3>
    </div>
</section>

<section id="general-question">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-12">
                <h3>General Questions</h3>
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <h6 class="mb-0">
                                What is Notes Marketplace?
                            </h6>
                            <button class="btn btn-link" type="button">
                                <span><img src="@Url.Content("~/images/FAQ/add.png")" alt=""></span>
                            </button>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="#headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="answer">
                                    <p>
                                        Notes Marketplace is an online marketplace for university students to buy and sell their course notes.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <h6 class="mb-0">
                                Where did Notes Marketplace start?

                            </h6>
                            <button class="btn btn-link collapsed" type="button">
                                <span><img src="@Url.Content("~/images/FAQ/add.png")" alt=""></span>
                            </button>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="#headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="answer">
                                    <p>
                                        What started out as four friends chucking around an idea in Ahmedabad ended up turning into an
                                        earliest version of Notes Marketplace. So, with 2021 batch of tatvasoft – we has developed this product.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="uploaders">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <h3>Uploaders</h3>
                <div class="accordion" id="accordionExample2">
                    <div class="card">
                        <div class="card-header" id="heading1" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                            <h6 class="mb-0">
                                Why should I upload now?

                            </h6>
                            <button class="btn btn-link" type="button">
                                <span><img src="@Url.Content("~/images/FAQ/add.png")" alt=""></span>
                            </button>
                        </div>

                        <div id="collapse1" class="collapse" aria-labelledby="#heading1" data-parent="#accordionExample2">
                            <div class="card-body">
                                <div class="answer">
                                    <p>
                                        To maximize sales. We can't sell your notes if they are rotting on your hard drive. Your notes are
                                        available for purchase the instant they are approved, which means that you could be missing potential
                                        sales as we speak. Despite exam and holiday breaks, our users purchase notes all year round, so the best
                                        time to upload notes is always today.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading2" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                            <h6 class="mb-0">
                                What can't I sell?

                            </h6>
                            <button class="btn btn-link collapsed" type="button">
                                <span><img src="@Url.Content("~/images/FAQ/add.png")" alt=""></span>
                            </button>
                        </div>
                        <div id="collapse2" class="collapse" aria-labelledby="#heading2" data-parent="#accordionExample2">
                            <div class="card-body">
                                <div class="answer">
                                    <p>
                                        We won't approve materials that have been created by your university or another third party. We also
                                        do not accept assignments, essays, practical’s or take-home exams. We love notes though.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading3" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                            <h6 class="mb-0">
                                How long does it take to upload?

                            </h6>
                            <button class="btn btn-link collapsed" type="button">
                                <span><img src="@Url.Content("~/images/FAQ/add.png")" alt=""></span>
                            </button>
                        </div>
                        <div id="collapse3" class="collapse" aria-labelledby="#heading3" data-parent="#accordionExample2">
                            <div class="card-body">
                                <div class="answer">
                                    <p>
                                        Uploading notes is quick and easy. It can take as little as 90 seconds per set of notes. Put it this way, in
                                        the time it took to read these FAQs, you could’ve uploaded several sets of notes.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="downloaders">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12">
                <h3>Downloaders</h3>
                <div class="accordion" id="accordionExample3">
                    <div class="card">
                        <div class="card-header" id="heading01" data-toggle="collapse" data-target="#collapse01" aria-expanded="false" aria-controls="collapse01">
                            <h6 class="mb-0">
                                How do I buy notes?

                            </h6>
                            <button class="btn btn-link" type="button">
                                <span><img src="@Url.Content("~/images/FAQ/add.png")" alt=""></span>
                            </button>
                        </div>

                        <div id="collapse01" class="collapse" aria-labelledby="#heading01" data-parent="#accordionExample3">
                            <div class="card-body">
                                <div class="answer">
                                    <p>
                                        Search for the notes you are after using the 'SEARCH NOTES' tab at the at the top right of every page.
                                        You can then filter results by university, category, course information etc. To purchase, go to detail page
                                        of note and click on download button. If notes are free to download – it will download over the browser
                                        and if notes are paid, Once Seller will allow download you can have notes at my downloads grid for
                                        actual download.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading02" data-toggle="collapse" data-target="#collapse02" aria-expanded="false" aria-controls="collapse02">
                            <h6 class="mb-0">
                                Why should I buy notes?

                            </h6>
                            <button class="btn btn-link collapsed" type="button">
                                <span><img src="@Url.Content("~/images/FAQ/add.png")" alt=""></span>
                            </button>
                        </div>
                        <div id="collapse02" class="collapse" aria-labelledby="#heading02" data-parent="#accordionExample3">
                            <div class="card-body">
                                <div class="answer">
                                    <p>
                                        The notes on our site are incredibly useful as an educational tool when used correctly. They effectively
                                        demonstrate the techniques that top students employ in order to receive top marks. They also
                                        summaries the course in a concise format and show what that student believed were the most
                                        important elements of the course. Learn from the best.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading03" data-toggle="collapse" data-target="#collapse03" aria-expanded="false" aria-controls="collapse03">
                            <h6 class="mb-0">
                                Will downloading notes guarantee I improve my grades?

                            </h6>
                            <button class="btn btn-link collapsed" type="button">
                                <span><img src="@Url.Content("~/images/FAQ/add.png")" alt=""></span>
                            </button>
                        </div>
                        <div id="collapse03" class="collapse" aria-labelledby="#heading03" data-parent="#accordionExample3">
                            <div class="card-body">
                                <div class="answer">
                                    <p>
                                        How long is a piece of string? However, 90% of students who purchased notes through our site said that
                                        doing so improved their grades.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

