@{
    ViewBag.Title = "Home Page";
}

<!-- Home page -->
<!-- Home-Image -->
<section id="home-image-about">
    <img id="home-image" class="img-fluid" src="@Url.Content("~/images/Homepage/banner-with-overlay.jpg")" alt="Home banner">
    <div id="text-on-image-home">
        <h3>Download Free/Paid Notes<br>or Sale your Book</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing.<br> elit Sed dicta dignissimos cupiditate minus.</p>
        <div id="home-02-btn">
            <a class="btn btn-general text-center" href="@Url.Action("FAQ", "Home")" title="LEARN MORE" role="button">LEARN MORE</a>
        </div>


    </div>
</section>
<!-- Home Top -->
<section id="home-top">
    <div class="container">
        <div class="row" id="about-topic">
            <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-12">
                <h3>About<br> NotesMarketPlace</h3>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-12">
                <P>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. In ea corporis facere vero quas, aliquam ut quos! Iure est suscipit debitis deleniti exercitationem expedita culpa rem consequuntur, perspiciatis animi velit? In ea corporis facere vero quas, aliquam ut quos! Iure est suscipit debitis deleniti.<br><br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident expedita sunt sapiente enim quibusdam praesentium dolorem at dolorum.
                </P>
            </div>
        </div>
    </div>
</section>
<section id="home-middle">
    <div class="container text-center">
        <h3>How it Works</h3>
        <div class="row">

            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="col-md-6 pull-right">
                    <div class="circle-background">
                        <img src="@Url.Content("~/images/Homepage/download.png")" alt="download" class="img-fluid">
                    </div>
                    <h4 class="home-middle-sub-heading">Download Free/Paid Notes</h4>
                    <p>Get Material for your <br> Course etc.</p>
                    <a class="btn home-middle-btn" id="home-middle-btn-01" href="@Url.Action("Index","SearchNotes")" title="DOWNLOAD" role="button">DOWNLOAD</a>
                </div>

            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 ">
                <div class="col-md-6">
                    <div class="circle-background">
                        <img src="@Url.Content("~/images/Homepage/seller.png")" alt="download" class="img-fluid">
                    </div>
                    <h4 class="home-middle-sub-heading">Seller</h4>
                    <p>Upload and Download Course <br> and Materials etc.</p>
                    <a class="btn home-middle-btn" id="home-middle-btn-02" href="@Url.Action("Index","Dashboard")" title="SELL BOOK" role="button">SELL BOOK</a>
                </div>

            </div>
        </div>
    </div>
</section>
<section id="home-bottom">
    <div class="container text-center">
        <h3>What our Customers are Saying</h3>
        <div class="row">
            <!-- customer 01 -->
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="row text-left customer-card">
                    <div class="col-12 customer-sub">
                        <img class="img-fluid rounded-circle" src="@Url.Content("~/images/Homepage/customer-1.png")" alt="client 01">

                        <span style="margin-left: 20px">
                            <h4 class="customer-name">Walter Meller</h4>
                            <p class="customer-designation">Founder &amp; CEO, Matrix Group</p>
                        </span>
                    </div>
                    <div class="col-12">
                        <p class="customer-details">&quot;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequatur natus esse molestiae harum necessitatibus amet inventore, aperiam perferendis illum soluta distinctio minima odio.&quot;</p>
                    </div>
                </div>
            </div>
            <!-- customer 02 -->
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                <div class="row text-left customer-card">
                    <div class="col-12 customer-sub">
                        <img class="img-fluid rounded-circle" src="@Url.Content("~/images/Homepage/customer-2.png")" alt="client 02">
                        <span style="margin-left: 20px">
                            <h4 class="customer-name">Jonnie Riley</h4>
                            <p class="customer-designation">Employee, Curious Snacks</p>
                        </span>
                    </div>
                    <div class="col-12">
                        <p class="customer-details">&quot;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequatur natus esse molestiae harum necessitatibus amet inventore, aperiam perferendis illum soluta distinctio minima odio.&quot;</p>
                    </div>
                </div>
            </div>

            <!-- customer 03 -->
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="row text-left customer-card">
                    <div class="col-12 customer-sub">
                        <img class="img-fluid rounded-circle" src="@Url.Content("~/images/Homepage/customer-3.png")" alt="client 03">

                        <span style="margin-left: 20px">
                            <h4 class="customer-name">Amilia Luna</h4>
                            <p class="customer-designation">Teacher, Saint Josheph High School</p>
                        </span>
                    </div>
                    <div class="col-12">
                        <p class="customer-details">&quot;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequatur natus esse molestiae harum necessitatibus amet inventore, aperiam perferendis illum soluta distinctio minima odio.&quot;</p>
                    </div>
                </div>
            </div>
            <!-- customer 04 -->
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="row text-left customer-card">
                    <div class="col-12 customer-sub">
                        <img class="img-fluid rounded-circle" src="@Url.Content("~/images/Homepage/customer-4.png")" alt="client 04">

                        <span style="margin-left: 20px">
                            <h4 class="customer-name">Daniel Cardos</h4>
                            <p class="customer-designation">Software Engineer, Infinitum Company</p>
                        </span>
                    </div>
                    <div class="col-12">
                        <p class="customer-details">&quot;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequatur natus esse molestiae harum necessitatibus amet inventore, aperiam perferendis illum soluta distinctio minima odio.&quot;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{

    <script>
        $(function () {

            ShowHideNav();
            // show hide nav on page load


            $(window).scroll(function () {

                // show hide nav on page load
                ShowHideNav();
            });
        });

        function ShowHideNav() {
            if ($(window).scrollTop() > 50) {

                // show white nav
                $("nav").addClass("white-nav-top");

                //show dark logo
                $(".navbar-header > a > img").attr("src", "/images/pre-login/logo.png");

                ////show back to top button
                //$("#back-to-top").fadeIn();

            } else {

                // hide white nav
                $("nav").removeClass("white-nav-top");

                //hide dark logo
                $(".navbar-header > a > img").attr("src", "/images/pre-login/top-logo.png");

                ////hide back to top button
                //$("#back-to-top").fadeOut();

            }


        }
    </script>

}