@using WebApplication5MVCdemo.Models
@model WebApplication5MVCdemo.CommanClasses.SearchNotesViewModel

@{
    ViewBag.Title = "Search Notes";
    Layout = "~/Views/Shared/_LayoutSignedup.cshtml";
}


<style>

    .jplist-pagination div {
        display: inline-block;
    }

    .jplist-pagination button {
        width: 34px;
        height: 34px;
        color: #333333;
        background-color: white;
        font-family: "Open Sans",sans-serif;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        border-radius: 50%;
        border: none;
    }

        .jplist-pagination button:hover {
            background-color: #6255a5 !important;
            color: white !important;
        }

    .jplist-current {
        background-color: #6255a5 !important;
        color: white !important;
    }

    .jplist-pagination {
        text-align: center;
    }

    .jplist-hidden,
    .jplist-drop-down,
    .jplist-label {
        display: none;
    }
</style>

<section class="user-profile-image">
    <img class="img-fluid" src="@Url.Content("~/images/User-Profile/banner-with-overlay.jpg")" alt="User Profile banner">
    <div class="text-on-image-user-profile">
        <h3>Search Notes</h3>
    </div>
</section>

<section id="search-filters">
    <div class="container">
        <h5>Search and Filter notes</h5>
        <div id="search-notes-filter-wrapper">
            <form>
                <div class="row">
                    <div class="form-group col-xl-12 col-md-12 col-sm-12 col-12 row-01">
                        <input type="search" class="form-control" placeholder="Search notes here.." id="inputSearch">
                        <span class="search"><img src="@Url.Content("~/Front_images/images/search-icon.png")" alt=""></span>
                    </div>
                    <div class="form-group col-xl-2 col-md-4 col-sm-6 col-12 row-02">
                        @Html.DropDownListFor(x => x.typeId, new SelectList(Model.noteTypes, "ID", "Name"), "Select Type", new { @class = "form-control" })

                    </div>
                    <div class="form-group col-xl-2 col-md-4 col-sm-6 col-12 row-02">
                        @Html.DropDownListFor(x => x.categoryId, new SelectList(Model.noteCategories, "ID", "Name"), "Select Category", new { @class = "form-control" })

                    </div>
                    <div class="form-group col-xl-2 col-md-4 col-sm-6 col-12 row-02">
                        @Html.DropDownListFor(x => x.universityId, Model.UniversityNames, "Select University", new { @class = "form-control" })

                    </div>
                    <div class="form-group col-xl-2 col-md-4 col-sm-6 col-12 row-02">
                        @Html.DropDownListFor(x => x.courseId, Model.Courses, "Select Course", new { @class = "form-control" })

                    </div>
                    <div class="form-group col-xl-2 col-md-4 col-sm-6 col-12 row-02">
                        @Html.DropDownListFor(x => x.countryId, new SelectList(Model.countries, "ID", "Name"), "Select Country", new { @class = "form-control" })

                    </div>
                    <div class="form-group col-xl-2 col-md-4 col-sm-6 col-12 row-02">
                        <select id="Rating" class="form-control">
                            <option value="">Select Rating</option>
                            <option value="1">1+</option>
                            <option value="2">2+</option>
                            <option value="3">3+</option>
                            <option value="4">4+</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<section id="book-lists">
    <div class="container" id="DivSearchNotes">

        <div id="DivSearchNoteView">

        </div>

    </div>
</section>


@section scripts {

    <script src="@Url.Content("~/Scripts/Jplist/jplist.core.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Jplist/jplist.pagination-bundle.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Jplist/jplist.textbox-filter.min.js")"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            BindSearchNotes();
        });
        $("#inputSearch").keyup(function () {
            BindSearchNotes();
        });
        $("#universityId").on('change', function () {
            BindSearchNotes()
        });

        $("#typeId").on('change',function (e) {
            BindSearchNotes()
        });

        $("#categoryId").on('change',function (e) {
            BindSearchNotes()
        });

        $("#countryId").on('change',function (e) {
            BindSearchNotes()
        });

        $("#courseId").on('change',function (e) {
            BindSearchNotes()
        });
        $("#Rating").on('change', function (e) {
            BindSearchNotes()
        });

        function BindSearchNotes() {
            debugger
            var FK_Type_val = $("#typeId").val();
            var FK_Category_val = $("#categoryId").val();
            var FK_Country_val = $("#countryId").val();
            var FK_University_val = $("#universityId").val();
            var FK_Course_val = $("#courseId").val();
            var Search = $("#inputSearch").val();
            var Rating = $("#Rating").val();
            debugger
            var pageSize = "9"; /*$("#DivSearchNotes .jplist-select").length > 0 ? $("#DivSearchNotes .jplist-select option:selected").attr("data-number") : "9";*/
            var pageNumber = $("#DivSearchNotes .jplist-pagination").length > 0 && $("#DivSearchNotes .jplist-pagination .jplist-current").val() != "" ? $("#DivSearchNotes .jplist-pagination .jplist-current").val() : "1";
            debugger
            $.ajax({
                type: 'GET',
                url: "@Url.Action("GetFilterSearchNotes", "SearchNotes")",
                data: {
                    FK_Type: FK_Type_val, FK_Category: FK_Category_val, FK_Country: FK_Country_val, FK_University: FK_University_val, FK_Course: FK_Course_val,
                    PageNumber: pageNumber, PageSize: pageSize, search: Search, rating: Rating
                },
                success: function (Result) {
                    debugger
                    $("#DivSearchNoteView").replaceWith(Result);
                    $("#DivSearchNotes .jplist-pagination").find("button").bind("click", function (event) {
                        debugger
                        $("#DivSearchNotes .jplist-pagination").find("button").removeClass("jplist-current");
                        $(this).addClass("jplist-current");
                        debugger
                        BindSearchNotes();
                    });
                    //$("#DivSearchNotes .jplist-select").unbind();
                    $("#DivSearchNotes .jplist-select").bind("change", function (event) {
                        $("#DivSearchNotes .jplist-pagination").remove();
                        BindSearchNotes();
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    debugger
                    alert("sorry");
                }
            });
        }

    </script>

}


