@model WebApplication5MVCdemo.CommanClasses.ManageAdministratorViewModel

@{
    ViewBag.Title = "AddAdministrator";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container my-profile">
    <div class="row">
        <div class="main-block col-xl-7 col-lg-10 col-md-10 col-12">
            <h3>Add Administrator</h3>
            @using (Html.BeginForm("AddAdministrator", "Administrator", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <div class="block col-12">
                        @Html.LabelFor(x => x.FirstName)
                        @Html.TextBoxFor(x => x.FirstName,new { placeholder = "Enter your First Name",@class="form-control", required= "required"})
                    </div>
                    <div class="block col-12">
                        @Html.LabelFor(x => x.LastName)
                        @Html.TextBoxFor(x => x.LastName, new { placeholder = "Enter your Last Name", @class = "form-control", required = "required" })
                    </div>
                    <div class="block col-12">
                        @Html.LabelFor(x => x.Email)
                        @Html.TextBoxFor(x => x.Email, new { placeholder = "Enter your Email Address", @class = "form-control", required = "required" })
                    </div>
                    <div class="block col-sm-3 col-6">
                        @Html.LabelFor(x => x.PhoneNumber)
                        @Html.DropDownListFor(x => x.CountryCode, new SelectList(Model.countries, "CountryCode", "CountryCode"), "Select Country Code", new { @class = "form-control" ,required = "required" })
                    </div>
                    <div class="block col-sm-9 col-12 phone-number">
                        <label class="label-hide" for="inputMyProfilePhoneNumber"> <br> </label>
                        @Html.TextBoxFor(x => x.PhoneNumber, new { placeholder = "Enter your Phone Number", @class = "form-control" , required = "required" })
                    </div>
                    <button type="submit" class="btn btn-submit">SUBMIT</button>
                </div>
            }

        </div>
    </div>
</div>

