@using WebApplication5MVCdemo.CommanClasses
@model IEnumerable<ManageAdministratorViewModel>


@{
    ViewBag.Title = "ManageAdministrator";
    ViewBag.DeleteAdmin = "Are you sure you want to make this administrator inactive?";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container manage-admin">
    <div class="row">
        <div class="col-12">
            <h3>Manage Administrator</h3>
        </div>
        <div class="padding-top-hide col-xl-5 col-lg-4 col-md-3 col-sm-3 col-12 text-left category">
            <a href="@Url.Action("AddAdministrator","Administrator")" role="button" class="btn">ADD ADMINISTRATOR</a>
        </div>
        <div class="padding-top-hide pl-0 m-left-auto col-xl-7 col-lg-8 col-md-9 col-sm-9 col-12 row search-side">
            <span class="NURandManageAdminSpan"><img src="~/Admin-Images/images/search-icon.png" alt=""></span>
            <input class="col-sm-7 col-7 m-left-auto" type="text" id="inputSearch" placeholder="Search">
            <button type="submit" id="InutSearchButton" class="col-sm-3 col-3 btn btn-search">
                SEARCH
            </button>
        </div>
        <div class="col-12 table-scroll">
            <table class="table" id="AdministratorDataTable">
                <thead>
                    <tr>
                        <th class="srno">SR NO.</th>
                        <th>FIRST NAME</th>
                        <th>LAST NAME</th>
                        <th>EMAIL</th>
                        <th>PHONE NO.</th>
                        <th>DATE ADDED</th>
                        <th>ACTIVE</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model)
                    {
                        <tr>
                            <td class="srno">@data.ID</td>
                            <td>@data.FirstName</td>
                            <td>@data.LastName</td>
                            <td>@data.Email</td>
                            <td>@data.PhoneNumber</td>
                            <td>@data.DateAdded</td>
                            @if (data.Active == true)
                            {
                                <td>Yes</td>
                            }
                            else
                            {
                                <td>No</td>
                            }
                            <td>
                                <a href="@Url.Action("AddAdministrator","Administrator",new { ID = data.ID})">
                                    <img src="~/Admin-Images/images/edit.png" alt="">
                                </a>
                                <a href="@Url.Action("DeleteAdministrator","Administrator",new { ID = data.ID})" onclick="return confirm('@ViewBag.DeleteAdmin')">
                                    <img src="~/Admin-Images/images/delete.png" alt="">
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script>

        $("#AdministratorDataTable").DataTable();
        oTable = $('#AdministratorDataTable').DataTable();
        $('#InutSearchButton').click(function () {
            oTable.search($("#inputSearch").val()).draw();
        });
        $('#AdministratorDataTable').DataTable().page.len(10).draw();
    </script>

}


